
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #0c161f;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.projects {
    padding: 50px 0;
}

.project-card {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    display: none;
}

.profile {
    padding: 30px 0;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.skills, .education, .experience, .awards, .hobbies {
    padding: 20px 0;
}

.skills ul, .education ul, .experience ul, .awards ul, .hobbies ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li, .education ul li, .experience ul li, .awards ul li, .hobbies ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.skills ul li i, .experience ul li i {
    margin-right: 10px;
}

.skills h2, .hobbies h2, .experience h2, .education h2 {
    color: green;
}

.experience, .skills, .education {
    background-color: #f4f4f4;
}

.experience {
    background-color: #e9f7f5;
}

.skills {
    background-color: #f5f5f5;
}

.education {
    background-color: #d1e7f7;
}

.skill-category {
    display: none;
}
